.security-box{
  background-color: rgba(255, 255, 204, 0.8); /* Light yellow */
  border: 2px solid #ffd600;                  /* Dark yellow border */
  padding: 10px 15px;
  border-radius: 4px;
  max-width: 800px;
  margin: 20px auto;  /* centers the box and adds vertical spacing */
  text-align: left;
}

.security-box-warning p strong {
  display: inline !important;
  white-space: normal !important;
  margin: 0 !important;
}